body {
    background-color: #090909;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.wrap {
    width: 80%;
    max-width: 300px;
    margin: 2rem;
    transform-style: preserve-3d;
    transform: perspective(100rem);
    cursor: pointer;
}

.item {
    --rX: 0deg;
    --rY: 0deg;
    --bX: 50%;
    --bY: 80%;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 20px;
    transform: rotateX(var(--rX)) rotateY(var(--rY));
    transition: 0.2s;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 30px 20px #5555;
}
.item:hover{
    background-color: palevioletred;
    color: aliceblue;
}


.item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 30px 20px #5559;
    z-index: -1;
}

@media (min-width: 600px) {
    .wrap {
        max-width: 400px;
    }

    .item {
        padding: 25px;
    }
}

@media (min-width: 768px) {
    .wrap {
        max-width: 500px;
    }

    .item {
        padding: 30px;
    }
}

@media (min-width: 1024px) {
    .wrap {
        max-width: 600px;
    }

    .item {
        padding: 35px;
    }
}
